{:default #env DATABASE_URL
                      :dev "jdbc:postgresql://localhost:5432/localdb?user=test&password=test"
                      :test "jdbc:tc:postgresql:18.1-alpine3.22:///testdb?TC_DAEMON=true&TC_INITSCRIPT=file:test/init_test_db.sql"}
