name: Checks

on:
  push:
    branches: [ master ]
    tags:
      - "*"
  pull_request:
    branches: [ master ]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: ./.github/actions/cache-clojure-deps
      - uses: jdx/mise-action@v3.5.1
        with:
          install_args: "babashka java clojure"
      - name: Run tests
        run: bb test

      - name: Generate project - default
        run: |
          bb new
          cd tmpl-prj
          mise trust && mise install
          bb lint-init && bb lint
          bb outdated-check
          bb test

      - name: Generate project - daisyui
        run: |
          rm -rf tmpl-prj
          bb new :daisyui true
          cd tmpl-prj
          mise trust && mise install
          bb css-build
          bb fetch-assets
          bb css-build

      - name: Generate project - auth sqlite
        run: |
          rm -rf tmpl-prj
          bb new :auth true
          cd tmpl-prj
          mise trust && mise install
          bb lint-init && bb lint
          bb outdated-check
          bb test

      - name: Generate project - auth postgres
        run: |
          rm -rf tmpl-prj
          bb new :auth true :db :postgres
          cd tmpl-prj
          mise trust && mise install
          bb lint-init && bb lint
          bb outdated-check
          bb test

      - name: Generate project - postgres
        run: |
          bb new :db :postgres
          cd tmpl-prj
          mise trust && mise install
          bb lint-init && bb lint
          bb outdated-check
          bb test

      - name: Generate project - no deployment
        run: |
          bb new :deploy :none
          cd tmpl-prj
          mise trust && mise install
          bb lint-init && bb lint
          bb test
